<div class="row">
	<div class="col-md-12">
		<h3>Numeric Key Performance Indicators</h3>
		<table class="table table-striped table-hover table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Active</th>
					<th>Category</th>
					<th>Is Integer ?</th>
					<th>Min value</th>
					<th>Max value</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				<!-- Numeric KPIs -->
				<tr ng-repeat="kpi in kpis | filter:{kind:'MANUAL_APPLICATION_NUMERIC'}">
					<td>
						<!-- editable username (text with validation) --> <span
						editable-text="kpi.name" e-name="name" e-form="rowform" e-required>
							<b>{{ kpi.name || 'empty' }}</b> </span>
					</td>
					<td>
						<!-- editable username (text with validation) --> <span
						editable-textarea="kpi.description" e-name="description"
						e-form="rowform" e-required> {{ kpi.description || 'empty'
							}} </span>
					</td>
					<td><a href="#" editable-checkbox="kpi.isActive" e-name="isActive"
						e-form="rowform" e-title="Is Active ?"> {{ kpi.isActive &&
							"Active" || "Not Active" }} </a></td>
					<td>
						<!-- editable category (text with validation) --> <span
						editable-text="kpi.category" e-name="category" e-form="rowform"
						e-required> {{ kpi.category || 'not defined' }} </span>
					</td>
					<td><a href="#" editable-checkbox="kpi.isInt" e-name="isInt"
						e-form="rowform" e-title="Is Integer?"> {{ kpi.isInt &&
							"Integer" || "Pure float" }} </a></td>
					<td><a href="#" editable-number="kpi.minValue" e-name="minValue"
						e-form="rowform">{{ kpi.minValue || 'not defined' }}</a></td>
					<td><a href="#" editable-number="kpi.maxValue" e-name="maxValue"
						e-form="rowform">{{ kpi.maxValue || 'not defined' }}</a></td>

					<!-- Edition column -->
					<td style="white-space: nowrap">
						<!-- form -->
						<form editable-form name="rowform"
							onbeforesave="saveKpi($data, kpi)" ng-show="rowform.$visible"
							class="form-buttons form-inline" shown="inserted == kpi">
							<button type="submit" ng-disabled="rowform.$waiting"
								class="btn btn-primary btn-xs">save</button>
							<button type="button" class="btn btn-xs" ng-disabled="rowform.$waiting"
								ng-click="rowform.$cancel()" class="btn btn-default">
								cancel</button>
						</form>
						<div class="buttons" ng-show="!rowform.$visible">
							<button class="btn btn-primary btn-xs" ng-click="rowform.$show()">edit</button>
							<button class="btn btn-danger btn-xs"
								ng-click="removeNumericKpi($index)">del</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<button class="btn btn-default" ng-click="addNewEmptyNumericKpi()">Add
			new KPI</button>
	</div>	
</div>
<hr>
<div class="row">
<div class="col-md-7">
<h3>Enumeration Key Performance Indicators</h3>
</div>
<div class="col-md-5">
<h3 ng-show="hasEditedEnumKpi">Values of {{editedEnumKpi.name}}</h3>	
</div>
</div>
<div class="row">
	
	<div class="col-md-7">

		<table class="table table-striped table-hover table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Active</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="kpi in kpis | filter:{kind:'MANUAL_APPLICATION_ENUM'}">
					<td>
						<!-- editable username (text with validation) --> <span
						editable-text="kpi.name" e-name="name" e-form="rowEnumform"
						e-required><b>{{ kpi.name || 'empty' }}</b> </span>
					</td>
					<td>
						<!-- editable username (text with validation) --> <span
						editable-textarea="kpi.description" e-name="description"
						e-form="rowEnumform" e-required> {{ kpi.description ||
							'empty' }} </span>
					</td>
					<td><a href="#" editable-checkbox="kpi.isActive" e-name="isActive"
						e-form="rowEnumform" e-title="Is Active ?"> {{ kpi.isActive &&
							"Active" || "Not Active" }} </a></td>

					<!-- Edition column -->
					<td style="white-space: nowrap">
						<!-- form -->
						<form editable-form name="rowEnumform"
							onbeforesave="saveKpi($data, kpi)"
							ng-show="rowEnumform.$visible" class="form-buttons form-inline"
							shown="inserted == kpi">
							<button type="submit" ng-disabled="rowEnumform.$waiting"
								class="btn btn-primary btn-xs">save</button>
							<button type="button" class="btn btn-xs" ng-disabled="rowEnumform.$waiting"
								ng-click="rowEnumform.$cancel()" class="btn btn-default">
								cancel</button>
						</form>
						<div class="buttons" ng-show="!rowEnumform.$visible">
							<button class="btn btn-primary btn-xs" ng-click="rowEnumform.$show()">edit</button>
							<button class="btn btn-primary btn-xs" ng-click="setEditedEnumKpi(kpi)" ng-disabled="kpi.id==null">edit
								values</button>
							<button class="btn btn-danger btn-xs" ng-click="removeEnumKpi($index)">del</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<button class="btn btn-default" ng-click="addNewEmptyEnumKpi()">Add
			new KPI</button>
	</div>
	<!-- Enumerationn literals of current edited enum kpi -->
	<div class="col-md-5">	
		<table class="table table-striped table-hover table-condensed"
			ng-show="hasEditedEnumKpi">
			<thead>
				<tr>
					<th>Name</th>
					<th>Value</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="literal in editedEnumKpi.literals">
					<td>
						<!-- editable username (text with validation) --> <span
						editable-text="literal.name" e-name="name" e-form="rowLiteralform"
						e-required> {{ literal.name || 'empty' }} </span>
					</td>
					<td>
						<!-- editable username (text with validation) --> <span
						editable-text="literal.value" e-name="value"
						e-form="rowLiteralform" e-required> {{ literal.value ||
							'empty' }} </span>
					</td>
					<!-- Edition column -->
					<td style="white-space: nowrap">
						<!-- form -->
						<form editable-form name="rowLiteralform"
							onbeforesave="saveLiterals($data, editedEnumKpi,literal)"
							ng-show="rowLiteralform.$visible"
							class="form-buttons form-inline" shown="inserted == literal">
							<button type="submit" ng-disabled="rowLiteralform.$waiting"
								class="btn btn-primary btn-xs">save</button>
							<button type="button" class="btn btn-xs" ng-disabled="rowLiteralform.$waiting"
								ng-click="rowLiteralform.$cancel()" class="btn btn-default">
								cancel</button>
						</form>
						<div class="buttons" ng-show="!rowLiteralform.$visible">
							<button class="btn btn-primary btn-xs" ng-click="rowLiteralform.$show()">edit</button>
							<button class="btn btn-danger btn-xs"
								ng-click="removeEnumLiteral($index)">del</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<button class="btn btn-default" ng-click="addLiteralIntoEditEnumKpi()"
			ng-show="hasEditedEnumKpi">Add new value</button>
	</div>
</div>