
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<abn-tree tree-data="applicationsTree" on-select="setCurrentSelectedApplicationVersion(branch)"></abn-tree>
		</div>
		<div class="col-md-9" ng-show="selectedApplicationVersion != null">
			<div ng-include src="'templates/application_version_details.html'"></div>
		</div>
		<div class="col-md-9" ng-show="selectedApplication != null">
			<div ng-include src="'templates/application_details.html'"></div>
		</div>
	</div>
</div>
