<br>
<div class="col-sm-12" role="tabpanel" id="myTab">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#allKpis"
			aria-controls="warning" role="tab" data-toggle="tab">Available
				KPIs</a></li>		
			<li role="presentation"><a href="#createNewKpi" aria-controls="hot"
			role="tab" data-toggle="tab">Key Performance Indicators Edition</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="allKpis">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<h3>Key Performance Indicators (Manual)</h3>
						<table class="table table-striped">
							<tbody>
								<tr
									ng-repeat="kpi in kpis | manual_application_kpi_filter | orderBy:'name':reverse">
									<td>{{kpi.name}}</td>
									<td>
										<p ng-bind-html="displaySafeHtml(kpi.description)"></p>
									</td>
									</button>
								</tr>
							</tbody>
						</table>

					</div>
					<div class="col-md-6">
						<h3>Key Performance Indicators (Automatic)</h3>
						<table class="table table-striped">

							<tbody>
								<tr
									ng-repeat="kpi in kpis | computed_application_kpi_filter | orderBy:'name':reverse">
									<td>{{kpi.name}}</td>
									<td>
										<p ng-bind-html="displaySafeHtml(kpi.description)"></p>
									</td>
									</button>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>		
		<div role="tabpanel" class="tab-pane" id="createNewKpi">
			<div ng-include src="'templates/createNewKpi.html'"></div>
		</div>
	</div>
	<!-- all Kpis -->

</div>

<script>
	$('#myTab a').click(function(e) {
		e.preventDefault()
		$(this).tab('show')
	})
</script>




